*.zip
*.pyc
*.csv
*.x
*~
*.swp
*.swo
test
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vim
find
.
-size
+3M
./data/baseball/database.sqlite
./.git/objects/pack/pack-8b0b104afb2838b08f792e205731458bb0b5bf9d.pack
data/baseball/database.sqlite
